article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.menu-section {
  z-index: 200;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  overflow: scroll;
}
.nav {
  margin: 0 auto;
  width: 1200px;
}
.nav .name {
  display: inline-block;
  margin-left: 10px;
  height: 50px;
  line-height: 50px;
  color: #000;
  font-size: 25px;
}
.nav .one,
.nav .two,
.nav .three {
  width: 100%;
  height: 5px;
  background-color: #000;
  margin: 6px auto;
  backface-visibility: hidden;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}
.nav .menu-toggle {
  width: 40px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 25px;
  cursor: pointer;
}
.nav .menu-toggle.on .one {
  -moz-transform: rotate(45deg) translate(7px, 7px);
  -webkit-transform: rotate(45deg) translate(7px, 7px);
  background-color: #fff;
}
.nav .menu-toggle.on .two {
  opacity: 0;
}
.nav .menu-toggle.on .three {
  -moz-transform: rotate(-45deg) translate(8px, -10px);
  -webkit-transform: rotate(-45deg) translate(8px, -10px);
  background-color: #fff;
}
.nav .menu-section.on {
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #fff;
  position: absolute;
}
.nav .searchContainer {
  position: absolute;
  top: 20px;
  right: 90px;
  width: 350px;
  display: inline-block;
}
.nav .search {
  position: absolute;
  right: -5px;
  width: 0px;
  border: 0;
  border-bottom: 1px solid #000;
  outline: none;
  -moz-transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
}
.nav .searchBtn {
  position: absolute;
  top: -5px;
  right: 5px;
  width: 20px;
  height: 20px;
  border: 0;
  outline: none;
  background: #fff;
}
.nav .icon-sousuo {
  font-size: 25px;
}
.nav .searchDown {
  display: none;
}
.menuContainer {
  z-index: 100;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
}
.menuContainer .menuBg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: #000;
  opacity: 0.7;
}
.menuContainer .menu {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}
.menuContainer .menu .about,
.menuContainer .menu .img,
.menuContainer .menu .blog,
.menuContainer .menu .contact {
  top: 0;
}
.menuContainer .menu .list {
  position: absolute;
  top: 0;
  -moz-transform: skewX(-15deg) translateX(-80px);
  -webkit-transform: skewX(-15deg) translateX(-80px);
  background: #fff;
  text-align: center;
  font-size: 50px;
  list-style: none;
  opacity: 0;
}
.menuContainer .menu .list a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  cursor: pointer;
  color: #000;
}
.menuContainer .menu .list:nth-child(2n) {
  background: #000;
}
.menuContainer .menu .list:nth-child(2n) a {
  color: #fff;
}
.menuContainer .menu .list:hover {
  opacity: 1;
  -moz-transform: skewX(-15deg) translateX(-90px);
  -webkit-transform: skewX(-15deg) translateX(-90px);
}
.menuContainer .menu .fadeInUp {
  opacity: 0.8;
  -moz-animation: fadeInUp 2s ease;
  -webkit-animation: fadeInUp 2s ease;
}
.menuContainer .menu .fadeInDown {
  opacity: 0;
  -moz-animation: fadeInDown 2s ease;
  -webkit-animation: fadeInDown 2s ease;
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: skewX(-15deg) translateX(-100px);
    -webkit-transform: skewX(-15deg) translateX(-100px);
  }
  100% {
    opacity: 0.8;
    -moz-transform: skewX(-15deg) translateX(-80px);
    -webkit-transform: skewX(-15deg) translateX(-80px);
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: skewX(-15deg) translateX(-100px);
    -webkit-transform: skewX(-15deg) translateX(-100px);
  }
  100% {
    opacity: 0.8;
    -moz-transform: skewX(-15deg) translateX(-80px);
    -webkit-transform: skewX(-15deg) translateX(-80px);
  }
}
@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: skewX(-15deg) translateX(-100px);
    -webkit-transform: skewX(-15deg) translateX(-100px);
  }
  100% {
    opacity: 0.8;
    -moz-transform: skewX(-15deg) translateX(-80px);
    -webkit-transform: skewX(-15deg) translateX(-80px);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: skewX(-15deg) translateX(-100px);
    -webkit-transform: skewX(-15deg) translateX(-100px);
  }
  100% {
    opacity: 0.8;
    -moz-transform: skewX(-15deg) translateX(-80px);
    -webkit-transform: skewX(-15deg) translateX(-80px);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0.8;
    -moz-transform: skewX(-15deg) translateX(-80px);
    -webkit-transform: skewX(-15deg) translateX(-80px);
  }
  100% {
    opacity: 0;
    -moz-transform: skewX(-15deg) translateX(-100px);
    -webkit-transform: skewX(-15deg) translateX(-100px);
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0.8;
    -moz-transform: skewX(-15deg) translateX(-80px);
    -webkit-transform: skewX(-15deg) translateX(-80px);
  }
  100% {
    opacity: 0;
    -moz-transform: skewX(-15deg) translateX(-100px);
    -webkit-transform: skewX(-15deg) translateX(-100px);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0.8;
    -moz-transform: skewX(-15deg) translateX(-80px);
    -webkit-transform: skewX(-15deg) translateX(-80px);
  }
  100% {
    opacity: 0;
    -moz-transform: skewX(-15deg) translateX(-100px);
    -webkit-transform: skewX(-15deg) translateX(-100px);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0.8;
    -moz-transform: skewX(-15deg) translateX(-80px);
    -webkit-transform: skewX(-15deg) translateX(-80px);
  }
  100% {
    opacity: 0;
    -moz-transform: skewX(-15deg) translateX(-100px);
    -webkit-transform: skewX(-15deg) translateX(-100px);
  }
}
.menuContainer2 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
}
.menuDown {
  opacity: 0;
  -moz-transition-duration: 2s;
  -webkit-transition-duration: 2s;
}
.searchList {
  position: absolute;
  top: 30px;
  right: 90px;
  height: 145px;
  padding: 0;
  z-index: 20;
  overflow: scroll;
}
.searchList .blogList {
  position: relative;
  width: 330px;
  height: 60px;
  margin: 0 auto;
  padding: 10px 10px 0 10px;
  list-style-type: none;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  background: #161823;
  color: #fff;
}
.searchList .blogList a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 330px;
  height: 70px;
}
.searchList .blogList h3 {
  height: 35px;
  line-height: 35px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.searchList .blogList p {
  height: 25px;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.searchList .blogList:last-child {
  border-bottom: 0;
  border-bottom: 1px solid #ccc;
}
.searchList .blogList:hover {
  background: #e9f1f6;
  color: #000;
}
.page-nav {
  width: 100%;
  height: 60px;
}
.page-nav .page-number {
  display: inline-block;
  margin: 10px 0 10px 10px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
}
.page-nav .page-number:hover {
  background-color: #e9f1f6;
  color: #161823;
}
.page-nav .extend {
  display: inline-block;
  margin: 10px 0 10px 10px;
  height: 40px;
  width: 70px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
}
.page-nav .current {
  border: 0;
}
.page-nav .current:hover {
  background-color: #161823;
  color: #e9f1f6;
}
.page-nav .space {
  display: inline-block;
  margin-left: 10px;
  color: #fff;
}
.page-nav .extend:hover {
  background-color: #e9f1f6;
  color: #161823;
}
.error {
  display: none;
  width: 100%;
}
.error2 {
  display: none;
  width: 100%;
}
.errorOn {
  display: block;
}
@font-face {
  font-family: "iconfont";
  src: url("iconfont.eot?t=1502937931567"); /* IE9*/
  src: url("iconfont.eot?t=1502937931567#iefix") format('embedded-opentype'), url("iconfont.woff?t=1502937931567") format('woff'), url("iconfont.ttf?t=1502937931567") format('truetype'), url("iconfont.svg?t=1502937931567#iconfont") format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-sousuo:before {
  content: "\e732";
}
.main {
  position: relative;
  width: 100%;
  min-width: 1200px;
  overflow: hidden;
}
.indexContainer {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.bgCanvas {
  position: absolute;
  top: 0;
  left: 0;
}
.indexBg {
  position: relative;
  width: 100%;
  background-size: 100%;
}
.indexBg .title {
  margin: 0;
  width: 100%;
  position: absolute;
  text-align: center;
  font-family: 'Clicker Script';
  font-size: 100px;
  font-weight: bold;
  color: #000;
}
.archiveCntainer {
  padding: 50px 0 5px;
  min-height: 700px;
  background-color: #161823;
}
.archiveCntainer .archiveContent {
  height: 100%;
  min-height: 700px;
  margin: -45px 5px 5px;
  padding-top: 40px;
  border: 1px solid #fff;
}
.archiveCntainer .archiveSwp {
  width: 1000px;
  margin: 20px auto;
  -webkit-animation: swpAnim 2s ease;
}
.archiveCntainer .titleDate {
  margin: 15px 10px;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
}
.archiveCntainer .swap {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 400px;
  margin: 10px 14.9px;
  padding: 0;
}
.archiveCntainer .span {
  position: absolute;
  list-style-type: none;
}
.archiveCntainer .T {
  width: 100%;
  height: 399px;
  border-top: 1px solid #fff;
}
.archiveCntainer .tAnim {
  -webkit-animation: tAnim 1s ease;
}
.archiveCntainer .R {
  width: 299px;
  height: 100%;
  border-right: 1px solid #fff;
}
.archiveCntainer .rAnim {
  -webkit-animation: rAnim 1s ease;
}
.archiveCntainer .L {
  width: 299px;
  height: 100%;
  border-left: 1px solid #fff;
}
.archiveCntainer .lAnim {
  -webkit-animation: lAnim 1s ease;
}
.archiveCntainer .B {
  width: 100%;
  height: 399px;
  border-bottom: 1px solid #fff;
}
.archiveCntainer .bAnim {
  -webkit-animation: bAnim 1s ease;
}
.archiveCntainer .content {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 256px;
  height: 356px;
  color: #65626b;
  padding: 20px;
}
.archiveCntainer .contentAnimOn {
  -webkit-animation: contentAnimOn 2s ease;
}
.archiveCntainer .contentAnimDown {
  -webkit-animation: contentAnimDown 2s ease;
}
.archiveCntainer .block {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.archiveCntainer .bTitle {
  font-family: 'Clicker Script';
  padding-top: 50px;
  text-align: center;
  height: 200px;
}
.archiveCntainer .bName {
  font-size: 10px;
}
@-moz-keyframes swpAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes swpAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes swpAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes swpAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes tAnim {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes tAnim {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-o-keyframes tAnim {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes tAnim {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes rAnim {
  0% {
    height: 100%;
  }
  50% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@-webkit-keyframes rAnim {
  0% {
    height: 100%;
  }
  50% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@-o-keyframes rAnim {
  0% {
    height: 100%;
  }
  50% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes rAnim {
  0% {
    height: 100%;
  }
  50% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@-moz-keyframes lAnim {
  0% {
    top: 0;
    height: 100%;
  }
  50% {
    top: 400px;
    height: 0;
  }
  100% {
    top: 0;
    height: 100%;
  }
}
@-webkit-keyframes lAnim {
  0% {
    top: 0;
    height: 100%;
  }
  50% {
    top: 400px;
    height: 0;
  }
  100% {
    top: 0;
    height: 100%;
  }
}
@-o-keyframes lAnim {
  0% {
    top: 0;
    height: 100%;
  }
  50% {
    top: 400px;
    height: 0;
  }
  100% {
    top: 0;
    height: 100%;
  }
}
@keyframes lAnim {
  0% {
    top: 0;
    height: 100%;
  }
  50% {
    top: 400px;
    height: 0;
  }
  100% {
    top: 0;
    height: 100%;
  }
}
@-moz-keyframes bAnim {
  0% {
    left: 0;
    width: 100%;
  }
  50% {
    left: 300px;
    width: 0;
  }
  100% {
    left: 0;
    width: 100%;
  }
}
@-webkit-keyframes bAnim {
  0% {
    left: 0;
    width: 100%;
  }
  50% {
    left: 300px;
    width: 0;
  }
  100% {
    left: 0;
    width: 100%;
  }
}
@-o-keyframes bAnim {
  0% {
    left: 0;
    width: 100%;
  }
  50% {
    left: 300px;
    width: 0;
  }
  100% {
    left: 0;
    width: 100%;
  }
}
@keyframes bAnim {
  0% {
    left: 0;
    width: 100%;
  }
  50% {
    left: 300px;
    width: 0;
  }
  100% {
    left: 0;
    width: 100%;
  }
}
@-moz-keyframes contentAnimOn {
  0% {
    background-color: #e9f1f6;
  }
  100% {
    background-color: #161823;
  }
}
@-webkit-keyframes contentAnimOn {
  0% {
    background-color: #e9f1f6;
  }
  100% {
    background-color: #161823;
  }
}
@-o-keyframes contentAnimOn {
  0% {
    background-color: #e9f1f6;
  }
  100% {
    background-color: #161823;
  }
}
@keyframes contentAnimOn {
  0% {
    background-color: #e9f1f6;
  }
  100% {
    background-color: #161823;
  }
}
@-moz-keyframes contentAnimDown {
  0% {
    background-color: #161823;
  }
  100% {
    background-color: #e9f1f6;
  }
}
@-webkit-keyframes contentAnimDown {
  0% {
    background-color: #161823;
  }
  100% {
    background-color: #e9f1f6;
  }
}
@-o-keyframes contentAnimDown {
  0% {
    background-color: #161823;
  }
  100% {
    background-color: #e9f1f6;
  }
}
@keyframes contentAnimDown {
  0% {
    background-color: #161823;
  }
  100% {
    background-color: #e9f1f6;
  }
}
