article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.menu-section {
  z-index: 200;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 1200px;
  height: 60px;
  overflow: hidden;
}
.nav {
  position: relative;
  min-width: 1200px;
}
.nav .name {
  position: absolute;
  top: 0;
  left: 60px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
  height: 50px;
  line-height: 50px;
  color: #000;
  font-size: 25px;
}
.nav .one,
.nav .two,
.nav .three {
  width: 100%;
  height: 5px;
  background-color: #000;
  margin: 6px auto;
  backface-visibility: hidden;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}
.nav .menu-toggle {
  width: 40px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 60px;
  cursor: pointer;
}
.nav .menu-toggle.on .one {
  -moz-transform: rotate(45deg) translate(7px, 7px);
  -webkit-transform: rotate(45deg) translate(7px, 7px);
  background-color: #fff;
}
.nav .menu-toggle.on .two {
  opacity: 0;
}
.nav .menu-toggle.on .three {
  -moz-transform: rotate(-45deg) translate(8px, -10px);
  -webkit-transform: rotate(-45deg) translate(8px, -10px);
  background-color: #fff;
}
.nav .menu-section.on {
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #fff;
  position: absolute;
}
.nav .searchContainer {
  position: absolute;
  top: 20px;
  right: 118px;
  width: 350px;
  display: inline-block;
}
.nav .search {
  position: absolute;
  right: -5px;
  width: 0px;
  border: 0;
  border-bottom: 1px solid #000;
  outline: none;
  -moz-transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
}
.nav .searchBtn {
  position: absolute;
  top: -5px;
  right: 5px;
  width: 30px;
  height: 28px;
  border: 0;
  outline: none;
  background: none;
}
.nav .icon-sousuo {
  font-size: 25px;
}
.nav .searchDown {
  display: none;
}
.menuContainer {
  z-index: 100;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
}
.menuContainer .menuBg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: #000;
  opacity: 0.7;
}
.menuContainer .menu {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}
.menuContainer .menu .about,
.menuContainer .menu .img,
.menuContainer .menu .blog,
.menuContainer .menu .contact {
  top: 0;
}
.menuContainer .menu .list {
  position: absolute;
  top: 0;
  -moz-transform: skewX(-15deg) translateX(-80px);
  -webkit-transform: skewX(-15deg) translateX(-80px);
  background: #fff;
  text-align: center;
  font-size: 50px;
  list-style: none;
  opacity: 0;
}
.menuContainer .menu .list a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  cursor: pointer;
  color: #000;
}
.menuContainer .menu .list:nth-child(2n) {
  background: #000;
}
.menuContainer .menu .list:nth-child(2n) a {
  color: #fff;
}
.menuContainer .menu .list:hover {
  opacity: 1;
  -moz-transform: skewX(-15deg) translateX(-90px);
  -webkit-transform: skewX(-15deg) translateX(-90px);
}
.menuContainer .menu .fadeInUp {
  opacity: 0.8;
  -moz-animation: fadeInUp 2s ease;
  -webkit-animation: fadeInUp 2s ease;
}
.menuContainer .menu .fadeInDown {
  opacity: 0;
  -moz-animation: fadeInDown 2s ease;
  -webkit-animation: fadeInDown 2s ease;
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: skewX(-15deg) translateX(-100px);
    -webkit-transform: skewX(-15deg) translateX(-100px);
  }
  100% {
    opacity: 0.8;
    -moz-transform: skewX(-15deg) translateX(-80px);
    -webkit-transform: skewX(-15deg) translateX(-80px);
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: skewX(-15deg) translateX(-100px);
    -webkit-transform: skewX(-15deg) translateX(-100px);
  }
  100% {
    opacity: 0.8;
    -moz-transform: skewX(-15deg) translateX(-80px);
    -webkit-transform: skewX(-15deg) translateX(-80px);
  }
}
@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: skewX(-15deg) translateX(-100px);
    -webkit-transform: skewX(-15deg) translateX(-100px);
  }
  100% {
    opacity: 0.8;
    -moz-transform: skewX(-15deg) translateX(-80px);
    -webkit-transform: skewX(-15deg) translateX(-80px);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: skewX(-15deg) translateX(-100px);
    -webkit-transform: skewX(-15deg) translateX(-100px);
  }
  100% {
    opacity: 0.8;
    -moz-transform: skewX(-15deg) translateX(-80px);
    -webkit-transform: skewX(-15deg) translateX(-80px);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0.8;
    -moz-transform: skewX(-15deg) translateX(-80px);
    -webkit-transform: skewX(-15deg) translateX(-80px);
  }
  100% {
    opacity: 0;
    -moz-transform: skewX(-15deg) translateX(-100px);
    -webkit-transform: skewX(-15deg) translateX(-100px);
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0.8;
    -moz-transform: skewX(-15deg) translateX(-80px);
    -webkit-transform: skewX(-15deg) translateX(-80px);
  }
  100% {
    opacity: 0;
    -moz-transform: skewX(-15deg) translateX(-100px);
    -webkit-transform: skewX(-15deg) translateX(-100px);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0.8;
    -moz-transform: skewX(-15deg) translateX(-80px);
    -webkit-transform: skewX(-15deg) translateX(-80px);
  }
  100% {
    opacity: 0;
    -moz-transform: skewX(-15deg) translateX(-100px);
    -webkit-transform: skewX(-15deg) translateX(-100px);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0.8;
    -moz-transform: skewX(-15deg) translateX(-80px);
    -webkit-transform: skewX(-15deg) translateX(-80px);
  }
  100% {
    opacity: 0;
    -moz-transform: skewX(-15deg) translateX(-100px);
    -webkit-transform: skewX(-15deg) translateX(-100px);
  }
}
.menuContainer2 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
}
.menuDown {
  opacity: 0;
  -moz-transition-duration: 2s;
  -webkit-transition-duration: 2s;
}
.searchList {
  position: absolute;
  top: 30px;
  right: 130px;
  height: 145px;
  padding: 0;
  z-index: 20;
  opacity: 0.8;
  overflow: auto;
}
.searchList .blogList {
  position: relative;
  width: 330px;
  height: 60px;
  margin: 0 auto;
  padding: 5px 10px 5px 10px;
  list-style-type: none;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  background: #161823;
  color: #fff;
}
.searchList .blogList a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 330px;
  height: 70px;
}
.searchList .blogList h3 {
  height: 35px;
  line-height: 35px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.searchList .blogList .span {
  display: inline-block;
  width: 50px;
  height: 25px;
  font-size: 14px;
}
.searchList .blogList:last-child {
  border-bottom: 0;
  border-bottom: 1px solid #ccc;
}
.searchList .blogList:hover {
  background: #e9f1f6;
  color: #000;
}
.page-nav {
  width: 100%;
  height: 60px;
}
.page-nav a {
  text-decoration: none;
}
.page-nav .page-number {
  display: inline-block;
  margin: 10px 0 10px 10px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
}
.page-nav .page-number:hover {
  background-color: #e9f1f6;
  color: #161823;
}
.page-nav .extend {
  display: inline-block;
  margin: 10px 0 10px 10px;
  height: 40px;
  width: 70px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
}
.page-nav .current {
  border: 0;
}
.page-nav .current:hover {
  background-color: #161823;
  color: #e9f1f6;
}
.page-nav .space {
  display: inline-block;
  margin-left: 10px;
  color: #fff;
}
.page-nav .extend:hover {
  background-color: #e9f1f6;
  color: #161823;
}
.error {
  display: none;
  width: 100%;
}
.error2 {
  display: none;
  width: 100%;
}
.errorOn {
  display: block;
}
@font-face {
  font-family: "iconfont";
  src: url("iconfont.eot?t=1503302983725"); /* IE9*/
  src: url("iconfont.eot?t=1503302983725#iefix") format('embedded-opentype'), url("iconfont.woff?t=1503302983725") format('woff'), url("iconfont.ttf?t=1503302983725") format('truetype'), url("iconfont.svg?t=1503302983725#iconfont") format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-tubiao02:before {
  content: "\e60b";
}
.icon-tubiao03:before {
  content: "\e60c";
}
.icon-sousuo:before {
  content: "\e732";
}
.main {
  position: relative;
  width: 100%;
  min-width: 1200px;
  overflow: hidden;
}
.indexContainer {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.bgCanvas {
  position: absolute;
  top: 0;
  left: 0;
}
.indexBg {
  position: relative;
  width: 100%;
  background-size: 100%;
}
.indexBg .title {
  margin: 0;
  width: 100%;
  position: absolute;
  text-align: center;
  font-family: 'Clicker Script';
  font-size: 100px;
  font-weight: bold;
  color: #000;
}
.archiveCntainer {
  padding: 50px 0 5px;
  min-height: 700px;
  background-color: #161823;
}
.archiveCntainer .archiveContent {
  height: 100%;
  min-height: 700px;
  margin: -45px 5px 5px;
  padding-top: 40px;
  border: 1px solid #fff;
}
.archiveCntainer .archiveSwp {
  width: 1000px;
  margin: 0px auto;
  -webkit-animation: swpAnim 2s ease;
  -moz-animation: swpAnim 2s ease;
  animation: swpAnim 2s ease;
}
.archiveCntainer .titleDate {
  margin: 0px 10px 0;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
}
.archiveCntainer .swap {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 400px;
  margin: 10px 14.9px;
  padding: 0;
  transform: translateY(0px);
  -webkit-transition: all 1s ease;
}
.archiveCntainer .swap:hover .T {
  -webkit-animation: tAnim 1s ease;
  -moz-animation: tAnim 1s ease;
  animation: tAnim 1s ease;
}
.archiveCntainer .swap:hover .R {
  -webkit-animation: rAnim 1s ease;
  -moz-animation: rAnim 1s ease;
  animation: rAnim 1s ease;
}
.archiveCntainer .swap:hover .L {
  -webkit-animation: lAnim 1s ease;
  -moz-animation: lAnim 1s ease;
  animation: lAnim 1s ease;
}
.archiveCntainer .swap:hover .B {
  -webkit-animation: bAnim 1s ease;
  -moz-animation: bAnim 1s ease;
  animation: bAnim 1s ease;
}
.archiveCntainer .swap:hover .content {
  background-color: #161823;
}
.archiveCntainer .span {
  position: absolute;
  list-style-type: none;
}
.archiveCntainer .T {
  width: 0;
  height: 399px;
  border-top: 1px solid #fff;
  -webkit-transition: width 1s ease;
  -moz-transition: width 1s ease;
  transition: width 1s ease;
}
.archiveCntainer .tt {
  width: 100%;
}
.archiveCntainer .tAnim {
  -webkit-animation: tAnim 1s ease;
  -moz-animation: tAnim 1s ease;
  animation: tAnim 1s ease;
}
.archiveCntainer .R {
  width: 299px;
  height: 0;
  border-right: 1px solid #fff;
  -webkit-transition: height 1s ease;
  -moz-animation: height 1s ease;
  animation: height 1s ease;
}
.archiveCntainer .rr {
  height: 100%;
}
.archiveCntainer .rAnim {
  -webkit-animation: rAnim 1s ease;
  -moz-animation: rAnim 1s ease;
  animation: rAnim 1s ease;
}
.archiveCntainer .L {
  top: 400px;
  height: 0;
  width: 299px;
  border-left: 1px solid #fff;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}
.archiveCntainer .ll {
  top: 0;
  height: 100%;
}
.archiveCntainer .lAnim {
  -webkit-animation: lAnim 1s ease;
  -moz-animation: lAnim 1s ease;
  animation: lAnim 1s ease;
}
.archiveCntainer .B {
  left: 300px;
  width: 0;
  height: 399px;
  border-bottom: 1px solid #fff;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}
.archiveCntainer .bb {
  left: 0;
  width: 100%;
}
.archiveCntainer .bAnim {
  -webkit-animation: bAnim 1s ease;
  -moz-animation: bAnim 1s ease;
  animation: bAnim 1s ease;
}
.archiveCntainer .content {
  position: absolute;
  width: 296px;
  height: 396px;
  top: 2px;
  left: 2px;
  background-color: #161823;
  transition: all 1.5s ease 0.5s;
  -moz-transition: all 1.5s ease 0.5s;
  -webkit-transition: all 1.5s ease 0.5s;
}
.archiveCntainer .postBg {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 236px;
  height: 356px;
  color: #65626b;
  opacity: 0;
  padding: 20px 30px;
  -webkit-transition: opacity 2s ease;
  -moz-transition: opacity 2s ease;
  transition: opacity 2s ease;
}
.archiveCntainer .postBg span {
  font-size: 14px;
}
.archiveCntainer .bg {
  opacity: 1;
}
.archiveCntainer .contentAnimDown {
  background-color: #e9f1f6;
  -webkit-animation: contentAnimDown 2s ease forwards;
  -moz-animation: contentAnimDown 2s ease forwards;
  animation: contentAnimDown 2s ease forwards;
}
.archiveCntainer .block {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.archiveCntainer .bTitle {
  font-family: 'Clicker Script';
  padding-top: 50px;
  text-align: center;
  height: 200px;
}
@-moz-keyframes swpAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes swpAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes swpAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes swpAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes tAnim {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes tAnim {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-o-keyframes tAnim {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes tAnim {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes rAnim {
  0% {
    height: 100%;
  }
  50% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@-webkit-keyframes rAnim {
  0% {
    height: 100%;
  }
  50% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@-o-keyframes rAnim {
  0% {
    height: 100%;
  }
  50% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes rAnim {
  0% {
    height: 100%;
  }
  50% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@-moz-keyframes lAnim {
  0% {
    top: 0;
    height: 100%;
  }
  50% {
    top: 400px;
    height: 0;
  }
  100% {
    top: 0;
    height: 100%;
  }
}
@-webkit-keyframes lAnim {
  0% {
    top: 0;
    height: 100%;
  }
  50% {
    top: 400px;
    height: 0;
  }
  100% {
    top: 0;
    height: 100%;
  }
}
@-o-keyframes lAnim {
  0% {
    top: 0;
    height: 100%;
  }
  50% {
    top: 400px;
    height: 0;
  }
  100% {
    top: 0;
    height: 100%;
  }
}
@keyframes lAnim {
  0% {
    top: 0;
    height: 100%;
  }
  50% {
    top: 400px;
    height: 0;
  }
  100% {
    top: 0;
    height: 100%;
  }
}
@-moz-keyframes bAnim {
  0% {
    left: 0;
    width: 100%;
  }
  50% {
    left: 300px;
    width: 0;
  }
  100% {
    left: 0;
    width: 100%;
  }
}
@-webkit-keyframes bAnim {
  0% {
    left: 0;
    width: 100%;
  }
  50% {
    left: 300px;
    width: 0;
  }
  100% {
    left: 0;
    width: 100%;
  }
}
@-o-keyframes bAnim {
  0% {
    left: 0;
    width: 100%;
  }
  50% {
    left: 300px;
    width: 0;
  }
  100% {
    left: 0;
    width: 100%;
  }
}
@keyframes bAnim {
  0% {
    left: 0;
    width: 100%;
  }
  50% {
    left: 300px;
    width: 0;
  }
  100% {
    left: 0;
    width: 100%;
  }
}
@-moz-keyframes contentAnimOn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes contentAnimOn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes contentAnimOn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes contentAnimOn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes contentAnimDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes contentAnimDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes contentAnimDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes contentAnimDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.tagContainer .tagContent {
  width: 800px;
  margin: 0 auto;
  height: 50px;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0;
}
.tagContainer .tagM {
  margin-right: 10px;
  display: inline-block;
  font-size: 22px;
  text-align: center;
  list-style-type: none;
  color: #e9f1f6;
}
.tagContainer .tags {
  position: relative;
  margin: 15px 10px;
  padding: 0px 10px;
  display: inline-block;
  font-size: 22px;
  text-align: center;
  list-style-type: none;
  cursor: pointer;
}
.tagContainer .tags .tagHref {
  color: #e9f1f6;
  text-decoration: none;
}
.tagContainer .tags .tagHref::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e9f1f6;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.tagContainer .tags .tagHref:hover::after {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform: scaleX(1);
}
.main {
  overflow: scroll;
}
.postSwp {
  display: block;
  width: 100%;
  position: relative;
  padding-bottom: 50px;
}
.contentBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: #161823;
}
.particleground {
  position: absolute;
}
.postContainer {
  position: relative;
  width: 1200px;
  margin: 0px auto 0;
  padding-top: 50px;
}
.postContainer .contentleft {
  display: inline-block;
  width: 760px;
  margin-top: 10px;
  margin-left: 40px;
  padding: 40px;
  border-radius: 5px;
  background: #e9f1f6;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.125);
}
.postContainer .leftAnim {
  animation: leftAnim 2s ease;
}
.postContainer .postTitle {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.postContainer h1 {
  font-size: 22px;
}
.postContainer h2 {
  font-size: 18px;
}
.postContainer .postTime {
  color: #999;
}
.postContainer .postContent {
  padding-bottom: 10px;
}
.postContainer .postContent a {
  text-decoration: none;
  color: #008000;
  cursor: pointer;
}
.postContainer .tagContainer {
  padding-bottom: 10px;
}
.postContainer .tagContainer .tagCon {
  display: inline-block;
  height: 30px;
  -webkit-transition: transform 1s ease;
  -webkit-transform: translateX(0px);
}
.postContainer .tagContainer .tagCon:hover {
  -webkit-transform: translateX(-10px);
}
.postContainer .tagContainer p {
  display: inline-block;
  margin: 0;
}
.postContainer .tagContainer .tagArrow {
  width: 0;
  height: 0;
  border: 15px solid #e9f1f6;
  border-right-color: #c7e2de;
}
.postContainer .tagContainer .tag {
  position: relative;
  width: 80px;
  height: 30px;
  line-height: 30px;
  background: #c7e2de;
  -moz-transform: translateX(-5px) translateY(-9px);
  -webkit-transform: translateX(-5px) translateY(-9px);
}
.postContainer .tagContainer .tag a {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 30px;
  cursor: pointer;
}
.postContainer .tagContainer .tag a:hover {
  box-shadow: 3px 3px 8px rgba(0,0,0,0.125);
}
.postContainer .postMessage {
  position: relative;
  height: 50px;
  border-top: 1px solid #ccc;
}
.postContainer .postMessage a {
  color: #000;
  position: absolute;
  text-decoration: none;
  display: block;
  width: 300px;
  height: 50px;
}
.postContainer .prevContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  height: 50px;
  margin-top: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.postContainer .nextContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 380px;
  height: 50px;
  margin-top: 20px;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.postContainer .nextContainer a {
  right: 0;
}
.postContainer .prev,
.postContainer .next {
  line-height: 50px;
  font-size: 20px;
  padding: 0;
  font-family: Athelas, STHeiti, Microsoft Yahei, serif;
  transition: padding 0.5s ease-in;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.postContainer .prev:hover {
  color: #008000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 0 0 20px;
}
.postContainer .next:hover {
  color: #008000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 20px 0 0px;
}
.postContainer .contentRight {
  position: fixed;
  top: 100px;
  right: 40px;
  display: inline-block;
  width: 250px;
  right: -300px;
  opacity: 0.2;
  -moz-transition: top 1s ease;
  -webkit-transition: top 1s ease;
}
.postContainer .contentRight .tocContent {
  width: 200px;
  padding: 20px 20px 5px 20px;
  background: #e9f1f6;
  border-radius: 5px;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.125);
}
.postContainer .contentRight .toc {
  font-size: 14px;
}
.postContainer .contentRight .toc .toc-child {
  font-size: 12px;
}
.postContainer .rightAnim {
  animation: rightAnim 2s ease 2s forwards;
}
.postContainer .tocContent a {
  text-decoration: none;
  color: #161823;
}
.postContainer .tocContent a:hover {
  color: #008000;
}
.postContainer .tocContent ol {
  padding: 0;
  list-style: none;
}
.postContainer .toc-child {
  margin-left: 20px;
}
.postContainer .toc .toc-item .toc-link-green {
  color: #008000;
}
@-moz-keyframes leftAnim {
  0% {
    margin-top: 80px;
    opacity: 0.2;
  }
  100% {
    margin-top: 10px;
    opacity: 1;
  }
}
@-webkit-keyframes leftAnim {
  0% {
    margin-top: 80px;
    opacity: 0.2;
  }
  100% {
    margin-top: 10px;
    opacity: 1;
  }
}
@-o-keyframes leftAnim {
  0% {
    margin-top: 80px;
    opacity: 0.2;
  }
  100% {
    margin-top: 10px;
    opacity: 1;
  }
}
@keyframes leftAnim {
  0% {
    margin-top: 80px;
    opacity: 0.2;
  }
  100% {
    margin-top: 10px;
    opacity: 1;
  }
}
@-moz-keyframes rightAnim {
  to {
    right: 40px;
    opacity: 1;
  }
}
@-webkit-keyframes rightAnim {
  to {
    right: 40px;
    opacity: 1;
  }
}
@-o-keyframes rightAnim {
  to {
    right: 40px;
    opacity: 1;
  }
}
@keyframes rightAnim {
  to {
    right: 40px;
    opacity: 1;
  }
}
.code {
  position: relative;
  width: 100%;
  background: #c7e2de;
  border-radius: 5px;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.125);
  font-size: 12px;
  overflow: hidden;
}
.code .codeHeight {
  width: 750px;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #afc9c5;
}
.code code.has-numbering {
  position: absolute;
  top: 30px;
  left: 30px;
  line-height: 20px;
  word-wrap: normal;
  word-break: keep-all;
  white-space: pre;
}
.code .pre-numbering {
  position: absolute;
  top: 30px;
  left: 10px;
  width: 20px;
  margin: 0;
  padding: 0;
  line-height: 20px;
  list-style: none;
}
.footer {
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: #ccc;
  font-size: 14px;
  background: #161823;
}
.footer a {
  text-decoration: none;
  cursor: pointer;
}
